# Compiled class file
*.class

# Log file
orunmila/*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
orunmila/*.jar
orunmila/*.war
orunmila/*.nar
orunmila/*.ear
orunmila/*.zip
orunmila/*.tar.gz
orunmila/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
orunmila/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/orunmila/maven-wrapper.jar
orunmila/mvnw.cmd
/orunmila/mvnw
/orunmila/mvnw.cmd
