<div id="app">
   <div class="container">
      <div class="container bootstrap snippets bootdey" >
         <div class="row">
            <div class="col"></div>
            <div class="col-sm-6 col-md-4 col-md-offset-4">
               <div class="account-wall">
                  <p class="profile-name">ORUNMILA</p>
                  <img class="profile-img" src="avatar/logo.jpeg"
                     alt="">
                  <span class="profile-email"></span>
                  <form class="form-signin">
                     <input [(ngModel)]="q.text" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Введите логин или ФИО" required autofocus>
                     <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="search()">
                     Поиск</button>
                  </form>
               </div>
            </div>
            <div class="col"></div>
         </div>
      </div>
   </div>
</div>