    <form class="form-horizontal">
        <fieldset class="fieldset">
            <h1 class="fieldset-title">Проектная информация</h1>
            <div class="form-group">
                <h6 class="col-md-2 col-sm-3 col-xs-12 control-label">ФИО</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    <p>Иванов Иван Иванович</p>
                </div>
            </div>
            
            <div class="form-group">
                <h6 class="col-md-2 col-sm-3 col-xs-12 control-label">Роль</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    Разработчик
                </div>
            </div>
            <div class="form-group">
                <h6 class="col-md-2 col-sm-3 col-xs-12 control-label">Проекты</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    ПУР, ПУиО
                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset class="fieldset">
            <h2 class="fieldset-title">Контакты</h2>
            <div class="form-group">
                <h6 class="col-md-2  col-sm-3 col-xs-12 control-label">Email</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    ivanov.ext@mail.com
                </div>
            </div>
            <div class="form-group">
                <h6 class="col-md-2  col-sm-3 col-xs-12 control-label">Skype</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                    ivanov.ext
                </div>
            </div>
            <div class="form-group">
                <h6 class="col-md-2  col-sm-3 col-xs-12 control-label">GitHub</h6>
                <div class="col-md-10 col-sm-9 col-xs-12" style="color:gray">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    ivanov.ext
                </div>
            </div>
        </fieldset>
    </form>